  <!-- Image Tag -->
  <img src="assets/image/station.jpeg" alt="Station Image" class="background-image" />

<!-- Header Section -->
 <!-- <header class="header">
  <div class="nav-container">
     <nav>
      <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a> 
      <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a> 
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a> 
      <a routerLink="/book-slot" routerLinkActive="active" class="nav-link">Book Slot</a>
      <a routerLink="/ev-owner-dashboard" routerLinkActive="active" class="nav-link">ev-owner-dashboard</a>

    </nav>
  </div>
  <div class="icons">
    <div class="notification">
      🔔 <span class="badge">3</span>
     Notifications List (Initially Hidden) 
      <div class="notification-dropdown">
        <ul>
          <li>New Reservation Alert for Slot #X</li>
          <li>Payment Confirmation for Reservation ID #Y</li>
        </ul>
      </div>
    </div>
    <div class="user-profile">
       <div *ngIf="userName">
        <span>{{ userName }}</span>
      </div>
        <a href="#" (click)="logoutAndRedirect()">Logout</a>
      </div>
  </div>
</header> -->
<!-- <aside class="sidebar">
  <nav>
      <ul>
          <li><a href="#">🏠 Home</a></li>
          <li><a href="#">📅 Reservations</a></li>
          <li><a href="#">💳 Payments</a></li>
          <li><a href="#">🔔 Notifications</a></li>
          <li><a href="#">⚙️ Settings</a></li>
      </ul>
  </nav>
  <button class="collapse-btn">⬅️</button>
</aside> -->
<hr>
<router-outlet></router-outlet>
